@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFCFB;
  --foreground: #171717;
  --font-playfair: 'Playfair Display', serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}